@tailwind base;
@tailwind components;
@tailwind utilities;

/* App-level tweaks */
html, body, #root {
  height: 100%;
}

@layer base {
  body {
    @apply bg-white text-slate-900 dark:bg-slate-900 dark:text-slate-100;
  }
}
