{% extends "layout.twig" %}

{% block head %}
    {% for css in assets.css %}
        <link rel="stylesheet" href="{{ css }}">
    {% endfor %}
{% endblock %}

{% block content %}
    <div id="root"></div>
    
    {% for js in assets.js %}
        <script type="module" src="{{ js }}"></script>
    {% endfor %}
{% endblock %}
